﻿@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <input type="search" style="width: 374px;" placeholder="Serch the location" id="txtSerchbyCriteria" />
                </td>
                <td>
                    <input type="submit" value="Search" onclick="SearchByLocation()" />
                </td>
            </tr>
        </tbody>
    </table>
    <div id="map"></div>
</body>
</html>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
    rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        Initialize();
    });

    function Initialize() {
        var latlng = new google.maps.LatLng(20, 77);
        var opt =
        {
            center: latlng,
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableAutoPan: false,
            navigationControl: true,
            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
            mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU }
        };
        var map = new google.maps.Map(document.getElementById("map"), opt);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(20, 77),
            title: "CodeGlobe",
            clickable: true,
            map: map
        });


        var infiwindow = new google.maps.InfoWindow(
        {
            content: " I am here! "
        });


        google.maps.event.addListener(marker, 'mouseover', function () {
            infiwindow.open(map, marker);
        });
        google.maps.event.addListener(marker, 'mouseout', function () {
            infiwindow.close(map, marker);
        });
    }

    function SearchByLocation() {
        var countryname = $('#txtSerchbyCriteria').val();
        $.ajax({
            type: 'Get',
            url: 'Map/GetMapDataByParameter',
            data: { "CountryName": countryname },
            contentType: 'application/json',
            success: function (data) {
                $("#map").empty();

                var latlng = new google.maps.LatLng(data[0].CountryLattitude, data[0].CountryLongitude);
                var opt =
       {
           center: latlng,
           zoom: 4,
           mapTypeId: google.maps.MapTypeId.ROADMAP,
           disableAutoPan: false,
           navigationControl: true,
           navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
           mapTypeControl: true,
           mapTypeId: google.maps.MapTypeId.HYBRID,
           mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU }
       };
                var map = new google.maps.Map(document.getElementById("map"), opt);           
                var infowindow = new google.maps.InfoWindow(), marker;
           
                var markercontent = Array();
                for (var i = 0; i < data.length; i++) {
                    var res = data[i];
                    var content = "<div id='infoDiv'><h2>" +
                     res.CityName + "</h2>" + "<div><h4>VenderName:" +
                         res.VenderName + "</h4></div>" + "<div><h4>Permament Address:" + res.PermamentAddress + "</h4></div>" + "<div><h4>TourExpences:" + res.TourExpences + "<div></h4></div>";
                    markercontent.push(content);
                }            
                for (var i = 0; i < data.length; i++) {
                    var res = data[i];
                    var key = i;
                    var myLatlng = new google.maps.LatLng(res.CityLattitude, res.CityLognitude);
                    marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: res.CityName
                    });                    
                    google.maps.event.addListener(marker, "click", (function (marker, key) {
                        return function () {
                            infowindow.setContent(markercontent[key]);
                          //  infowindow.setOptions({ maxWidth: 200 });
                            infowindow.open(map, marker);
                        }

                    })(marker, key));                   
                }

            }
        });
    }

</script>
<style type="text/css">
    #map {
        width: 1000px;
        height: 500px;
        float: left;
        position: absolute;
        left: 300px;
        top: 200px;
    }

    #infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
