﻿@{
    ViewBag.Title = "Excel File Uploader";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excel File Uploader </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("UploadExcel", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" id="FileUpload" name="FileUpload" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</body>
</html>





